<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.digitalpublishing.mapper.system.SysParameterMapper">
<!-- 	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <resultMap id="BaseResultMap" type="cn.digitalpublishing.po.system.SysParameter">
        <id column="PARAM_ID" property="id" jdbcType="BIGINT"/>
        <result column="PARAM_CODE" property="code" jdbcType="VARCHAR"/>
        <result column="PARAM_VAL" property="val" jdbcType="VARCHAR"/>
        <result column="PARAM_ISNULL" property="isNull" jdbcType="TINYINT"/>
        <result column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    PARAM_ID, PARAM_CODE, PARAM_VAL, PARAM_ISNULL, RESOURCE_ID
  </sql>

<!-- SYS_PARAMETER -->

</mapper>